
<div class = "container" style ="padding-top:60px">

    <div id="wrapper">

         <%= render 'chat/chat_sidebar' %>
         <%= render 'chat/chat_side_js_script' %>
         <%= render 'chat/chat_page_content' %>

    </div>
    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });


     $("").hover(
        function() {
        $(this).preappend( );
        }, function() {
            console.log("DONE");
    $( this ).find( "span:last" ).remove();
    });

    </script>

</div>

</html>