
<div class = "container" style ="padding-top:60px">

    <div id="wrapper">

         <%= render 'chat/chat_sidebar' %>
         <%= render 'chat/chat_side_js_script' %>
         <%= render 'chat/chat_page_content' %>

    </div>

    <%= render 'chat/chat_menu_toggle_script' %>

</div>