
<div id = "404_container" style = "width:100%; height:100%; margin-top:25px;background-color:white;">
<%= image_tag("giraffe_suit.jpg", :class => "four-oh-four-giraffe") %>

<h1 class="four-oh-four-text"> We're sorry, we were unable to handle your request at this time. Please retry again shortly. </h1>

</div>