<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<div class= "cover_image">
  <div class = "overlay"></div>
  <div class ="centered_title">
    Benedictation
  </div>
  <div class ="centered_subtitle">
    The smart way to meet.
    <div>
      <% if current_user %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
<div class="marketing">
  <div class = "row">
    <div class="col-md-4">
      <img src="assets/speech.png">
        <h2>Group Chats</h2>
        <p>You can easily create video chatrooms using our software. Simply login, choose a group you
        want to communicate with, and start chatting with them!
        </p>
    </div>
    <div class="col-md-4">
      <img src="assets/lightbulb.png">
        <h2>Answers Questions</h2>
        <p>Benedict is here to serve. Ask him some questions about nearly anything, and he'll answer you as best he can.
        </p>
    </div>
    <div class="col-md-4">
      <img src="assets/notes.png">
        <h2>Takes Notes</h2>
        <p>Tired of taking notes in a meeting? Benedict will take notes for you!
        </p>
    </div>
  </div>
</div>

<div class= "contact_image">
  <div class = "overlay"></div>
  <div class ="centered_title">
    { struct }
  </div>
  <div class ="centered_subtitle">
    If you have questions please email us at
    team.struct.by.lightning@gmail.com
  </div>
</div>
<!--
<div class="center jumbotron">
  <h1>Welcome to Benedictation</h1>

  <h2>
    A smart peer to peer video web application
  </h2>
   <div>
      <% if current_user %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
</div>
-->
