<div class="center jumbotron">
  <h1>Welcome to Benedictation</h1>

  <h2>
    A smart peer to peer video web application
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("Shape-Lightning-25.png", alt: "Lightning logo") %>