<div class='room-layout-table'>
     <div class="drop-video-here"><h1 class="blink_me">You can drag a video here!</h1></div>
     <div id = "drop-spot"></div>



</div>
<script>
var count = 0;
var count2 = 0;
var hidden = 0;

function blinker() {

  if (count < 4){
    $('.blink_me').fadeTo( 850 , .1, function() {});
    $('.blink_me').fadeTo( 850 , 1.0, function() {});
    count++;
  }
  else if (count2 < 6) {
    if (count2 == 1) {
      $('.blink_me').fadeOut(1000);
    }
    if (count2 > 1 && hidden == 0) {
      if (count2 == 2 && hidden == 0) {
        $('.room-layout-table').append('<div class="drop-video-here"><h1 class="fade_me blink_me2">' +
                                     'Click help in the header to learn how to query ' +
                                     'Benedict</h1></div>');
      }
      $('.blink_me2').fadeTo( 850 , .1, function() {});
      $('.blink_me2').fadeTo( 850 , 1.0, function() {});
    }
    count2++;
  }
  else {
    $('.fade_me').fadeOut(1000);
  }
}

var inter = setInterval(blinker, 1500);


$(function() {
  $( "#drop-spot" ).droppable({
      activeClass: "active-spot",
      hoverClass: "hover-spot",
      drop: function( event, ui ) {
        $('.render-spot').remove();
        $('.blink_me').remove();
        $('.fade_me').remove();
        window.clearInterval(id);
        hidden = 1;
        //$("#benedict-sidebar-wrapper").append($("#chat-body"));
        //$("#chat-body").animate({left:"+= 50"});
        var children = $('#drop-spot').children();
        if (children.size() > 0) {
                    var video = children[0];
                    document.getElementById(get_free_spot()).appendChild(video);
                    $(video).get(0).play();
        }
        
        take_spot(5, $("#" + ui.draggable.prop('id')), $("#drop-spot"));
        $("#drop-spot").append( $("#" + ui.draggable.prop('id')));
        $("#" + ui.draggable.prop('id')).css("top", "0%");
        $("#" + ui.draggable.prop('id')).css("left", "0%");
        $("#" + ui.draggable.prop('id')).animate({ width: "100%", height: "100%" });
        $("#" + ui.draggable.prop('id')).get(0).play();


      }
    });
 });


  </script>
