<div class='room-layout-table'>
      
     <div id = "drop-spot"></div>



</div>
<script>
$(function() {
  $( "#drop-spot" ).droppable({

      activeClass: "active-spot",
      hoverClass: "hover-spot",
      drop: function( event, ui ) {
       
        //$("#benedict-sidebar-wrapper").append($("#chat-body"));
        //$("#chat-body").animate({left:"+= 50"});

        $("#drop-spot").append( $("#" + ui.draggable.prop('id')));
        $("#" + ui.draggable.prop('id')).css("top", "0%");
        $("#" + ui.draggable.prop('id')).css("left", "0%");
        $("#" + ui.draggable.prop('id')).animate({ width: "100%", height: "100%" });
        $("#" + ui.draggable.prop('id')).get(0).play();

      }
    });
 });
  </script>
