<!-- Page Content -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="room-page-div-wrapper" id="page-wrapper">


<!-- VIDEO SIDEBARS -->
<!-- This section is the sidebar for the local and peer video connections -->
<!-- to be dragged and dropped -->
  <div class="droppable" id="video-list">
      <video class="video-tag draggable" id="localVideo" ></video>
   </div>

   <div class = "benedict-zone">
      <%= render 'rooms/room_content_table' %>
   </div>
<!--
  <div class="below-sidebar">

  </div> -->


<!-- END OF VIDEO SIDEBARS -->



<!-- ROOM RIGHT HAND SIDEBAR -->


<%= render 'rooms/room_right_hand_sidebar' %>


<!-- END OF ROOM RIGHT HAND SIDEBAR -->





<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<script language="Javascript" type="text/javascript">

google.load('search', '1');
</script>

<script>


// Progress loading bar function for user feedback that
// the queries are being analyzed

$(function() {
  var progressbar = $( "#progressbar" ),
    progressLabel = $( ".progress-label" );

  progressbar.progressbar({
    value: false
  });
});


// This is a function that flashes the red microphone
// glyph so that users are given feedback to when audio
// is being recorded

function blink_red() {
  $('.record-button').fadeTo(800, .1, function(){});
  $('.record-button').fadeTo(800, 1, function() {});
}


// the variable for the interval so that it can be set
// and removed in this scope

var red_record_interval;

var keydown_triggered_by_button = 0;

// this is a function that is triggered upon users
// clicking the record button

$('#record-query-button').click(function() {
  var e1 = jQuery.Event("keydown");
  e1.which = 2;
  //keydown_triggered_by_button = 1;
  $("input").trigger(e1);
});

// this is a function that is triggered upon users
// clicking the stop button when they are finished
// recording


$('#stop-query-button').click(function() {
  toggle_mic_color = 0;
  var e2 = jQuery.Event("keyup");
  e2.which = 17;
  console.log("hello!")
  $("input").trigger(e2);
});


// this function that listens for users clicking on the
// black x glyph in center renders so that we can
// remove them

$(document).on('click','#remove_item_id',function(){
  $('.render_spot').remove();
  $('.center-border').fadeOut(300);
  inter = setInterval(blinker, 3000);
});


// respective drag andn droppable functions for
// the video sidebar

  $("#video-list").sortable({
        connectWith: ".video-tag",
        //helper: 'clone',
        appendTo: 'body',
        opacity: .7,
        distance: 20,
        revert: false,
        stop: function(event) {
          console.log("EVENT in stop:   ", event);
          var children = $("#video-list").children();
            var i;
            for (i = 0; i < children.size(); i++) {
              console.log("child to play receive: ", children[i]);
              children[i].play();
            }
        },
        receive: function() {
            var children = $("#video-list").children();
            var i;
            for (i = 0; i < children.size(); i++) {
              console.log("child to play receive: ", children[i]);
              children[i].play();
            }
        },
        sort: function() {
            var children = $("#video-list").children();
            var i;
            for (i = 0; i < children.size(); i++) {
              //console.log("child to play sort: ", children[i]);
              children[i].play();
            }
        },
        
    });

    $("#drop-spot").droppable({
        activeClass: "active-drop-spot",
        drop: function(event, ui) {
            //ui.draggable is the motha focking video thingy json draggable

            var children = $("#drop-spot").children();
            console.log("children ", children);
            //$(ui).css('width', '100%');
            //$(ui).css('height', '100%');
            if (children.size() > 1) {
                $("#video-list").append(function() {
                  //$(this).get(0).play();
                    console.log("inside of the append function" + $(this));
                    console.log($(this).index());
                    return children[($(this).index()+ 1) % 2];
                });
            }
        }
    }).sortable({
        revert: false,
        connectWith: ".video-tag",
        cursorAt: {
          left: 80,
          top: 60
        },

        receive: function(event, ui) {
            var children = $("#drop-spot").children();
            var i;
            $(ui).css('width', '100%');
            $(ui).css('height', '100%');
            for (i = 0; i < children.size(); i++) {
              console.log("children have ben received in the drop: ", children[i]);
              children[i].play();
            }
             if (children.size() > 1) {
                $("#video-list").append(function() {
                    //$(this).get(0).play();
                    console.log($(this));
                    console.log($(this).index());
                    return children[($(this).index()+ 1) % 2];
                });
            }
        },
        start: function(event, ui){
          console.log("we started biaaatch");
          var children = $("#drop-spot").children();
          console.log("we are in here but shit is fucked.");
          $(children[0]).css("width", "160px" );
          $(children[0]).css("height", "120px");
        },
        stop: function(event) {
          console.log("EVENT in stop:   ", event);
          var children = $("#drop-spot").children();
            var i;
            for (i = 0; i < children.size(); i++) {
              console.log("child to play receive: ", children[i]);
              children[i].play();
            }
        },
    });

  $(".droppable").sortable({
    revert: true,
    connectWith: ".droppable"
  });

  /*
   $( ".video-tag" ).draggable({

  opacity: .7,

   create: function(event, ui) {
       $(this).draggable("option", "cursorAt", {
           left: Math.floor(80),
           top: Math.floor(60)
       });
   }

   start: function(event, ui){
       if($(this).width() > 160){
       $(this).css("width", "160px" );
       $(this).css("height", "120px");
       }
   }

   });
  */

</script>