<!-- Page Content -->
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <div id="page-wrapper">
            <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <div class="container-fluid">
                <div class="row">
              
                   <div id = 'video-sidebar'>
                      <video id="localVideo" autoplay></video>
                    </div>

                    <div class = "benedict-zone">
                        <%= render 'rooms/room_content_table' %>
                    </div>

                    <div id="benedict-sidebar-wrapper">
                      <ul class="benedict-sidebar-nav">
                        <li class="sidebar-brand">
                          <a style="color:red;font-size:20px; font-weight: bold;" id="loading"></a>
                        </li>
                          
                      </ul>
                    </div>
                    
                </div>
            </div>
            <!-- Page Content -->
        </div>

        <script>
          $(function() {
            $( "#localVideo" ).draggable({  revert: "invalid"  });

            $( "#video-sidebar" ).droppable({

                activeClass: "active-sidebar",
                drop: function( event, ui ) {

                  $("#video-sidebar").append( $("#localVideo"));
                  $("#localVideo").css("top", "0%");
                  $("#localVideo").css("left", "0%");
                  $("#localVideo").animate({ width: "154px" });
                  $("#localVideo").get(0).play();

                }
              });
          });
        </script>
