<div class='room-layout-table'>

     <div id = "drop-spot"></div>



</div>
<script>
$(function() {
  $( "#drop-spot" ).droppable({

      activeClass: "active-spot",
      hoverClass: "hover-spot",
      drop: function( event, ui ) {

        //$("#benedict-sidebar-wrapper").append($("#chat-body"));
        //$("#chat-body").animate({left:"+= 50"});
        take_spot(5, $("#" + ui.draggable.prop('id')), $("#drop-spot"));
        $("#drop-spot").append( $("#" + ui.draggable.prop('id')));
        $("#" + ui.draggable.prop('id')).css("top", "0%");
        $("#" + ui.draggable.prop('id')).css("left", "0%");
        $("#" + ui.draggable.prop('id')).animate({ width: "100%", height: "100%" });
        $("#" + ui.draggable.prop('id')).get(0).play();

      }
    });
 });


  $('.benny-link').click(function(e){
      var id = this.id;
      var key = id.substr(11, id.length - 1);
      var children = $("#drop-spot").children();

      children.each(function(i, value) {
        if ($(this).hasClass("video-center")){
          document.getElementById(get_free_spot()).appendChild($(this));
        }
      });

      // $('.center-div-room').hide();
      // $('.center-div-group').hide();
      // $('.random-button').hide();
      // $('#center-div' + id_array[1]).show();
  });
  </script>
