<div class='room-layout-table'>
      
      <div id = "drop-spot">
        <p >DROP SPOT</p>
      </div>


        <div id='chat-body' valign='top'>
          <div class='panel panel-primary'>
            <div class='panel-heading'>
              Chat
            </div>
            <div class='panel-body' id='js-chat-body'></div>
          </div>
          <div class='input-group' id="chat-location">
            <input class='form-control' id='js-input-im'>
            <span class='input-group-btn'>
              <button class='btn btn-primary' id='js-send-button-im'>
              Send
              </button>
            </span>
          </div>
          
          
          <!--<div id='speech-rec' >
            <div class='panel panel-primary'>
              <div class='panel-heading'>
                Speech Recognition
              </div>
              <div class='panel-body' id='speech-rec-body'></div>
            </div>
          </div>
          -->
        </div>
</div>
<script>
$(function() {
  $( "#drop-spot" ).droppable({

      activeClass: "active-spot",
      hoverClass: "hover-spot",
      drop: function( event, ui ) {
       
        $("#benedict-sidebar-wrapper").append($("#chat-body"));
        //$("#chat-body").animate({left:"+= 50"});

        $("#drop-spot").append( $("#localVideo"));
        $("#localVideo").css("top", "0%");
        $("#localVideo").css("left", "0%");
        $("#localVideo").animate({ width: "500px" });
        $("#localVideo").get(0).play();

        $("#chat-body").animate({ width: "100%" });
        $("#chat-body").animate({ top: "+=120px" }, 400 );

      }
    });
 });
  </script>