<div class='room-layout-table'>
     <div class="droppable" id = "drop-spot"></div>



</div>
<script>
var count = 0;
var count2 = 0;
var hidden = 0;
var inter;

function blinker() {

  if (count == 0) {
    $(".room-layout-table").append('<div class="drop-video-here"><h1 class="blink_me">Drag a video on the left here!</h1></div>')
  }

  if (count < 3){
    $('.blink_me').fadeTo( 1500 , .1, function() {});
    $('.blink_me').fadeTo( 1500 , 1.0, function() {});
    count++;
  }
  else {
    $('.blink_me').fadeOut(1500);
    clearInterval(inter);
    count = 0;
  }
}

$( window ).load(function() {
  inter = setInterval(blinker, 3000);
});


/*
$(function() {
  $( "#drop-spot" ).droppable({
      activeClass: "active-spot",
      hoverClass: "hover-spot",
      drop: function( event, ui ) {
        $('.render-spot').remove();
        $('.blink_me').remove();
        $('.fade_me').remove();
        window.clearInterval(id);
        hidden = 1;

        var children = $('#drop-spot').children();
        if (children.size() > 0) {
                    var video = children[0];
                    document.getElementById(get_free_spot()).appendChild(video);
                    $(video).get(0).play();
        }

        take_spot(5, $("#" + ui.draggable.prop('id')), $("#drop-spot"));
        $("#drop-spot").append( $("#" + ui.draggable.prop('id')));
        $("#" + ui.draggable.prop('id')).css("top", "0%");
        $("#" + ui.draggable.prop('id')).css("left", "0%");
        $("#" + ui.draggable.prop('id')).animate({ width: "100%", height: "100%" });
        $("#" + ui.draggable.prop('id')).get(0).play();


      }
    });
 });
*/


  </script>
