<table class='room-layout-table'>
    <tr>
      <th>
      </th>
      <th>
        <a style="color:red;font-size:20px; font-weight: bold;" id="loading"></a>

    </th>
    </tr>
    <tr>
        <th id='chat-body' valign='top'>
          <div class='panel panel-primary'>
            <div class='panel-heading'>
              Chat
            </div>
            <div class='panel-body' id='js-chat-body'></div>
          </div>
          <div class='input-group' id="chat-location">
            <input class='form-control' id='js-input-im'>
            <span class='input-group-btn'>
            <button class='btn btn-primary' id='js-send-button-im'>
            Send
          </button>
        </span>
      </div>
        </th>
        <th id='speech-rec' valign='top'>
          <div class='panel panel-primary'>
            <div class='panel-heading'>
              Speech Recognition
            </div>
            <div class='panel-body' id='speech-rec-body'></div>
          </div>
        </th>
    </tr>
</table>