<!DOCTYPE html>
<html lang="en" dir="ltr" class="client-nojs">
  <head>
    <meta charset="UTF-8" />
    <title><%= "Peanut Butter" %> - Wikipedia, the free encyclopedia</title>
    <link rel="stylesheet" href="//bits.wikimedia.org/en.wikipedia.org/load.php?debug=false&amp;lang=en&amp;modules=ext.gadget.DRN-wizard%2CReferenceTooltips%2Ccharinsert%2Cfeatured-articles-links%2CrefToolbar%2Cswitcher%2Cteahouse%7Cext.uls.nojs%7Cext.visualEditor.viewPageTarget.noscript%7Cext.wikihiero%2CwikimediaBadges%7Cmediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.sectionAnchor%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.vector.styles%7Cwikibase.client.init&amp;only=styles&amp;skin=vector&amp;*" />
    <meta name="ResourceLoaderDynamicStyles" content="" />
    <link rel="stylesheet" href="//bits.wikimedia.org/en.wikipedia.org/load.php?debug=false&amp;lang=en&amp;modules=site&amp;only=styles&amp;skin=vector&amp;*" />
    <style>a:lang(ar),a:lang(kk-arab),a:lang(mzn),a:lang(ps),a:lang(ur){text-decoration:none}
    </style>
  </head>
  <body class="mediawiki ltr sitedir-ltr ns-10 ns-subject page-Template_HTML skin-vector action-view">
    <div id="mw-page-base" class="noprint"></div>
    <div id="mw-head-base" class="noprint"></div>
    <div id="content" class="mw-body" role="main">
      <a id="top"></a>
      <div id="siteNotice">
        <!-- CentralNotice -->
      </div>
      <div class="mw-indicators"></div>
      <h1 id="firstHeading" class="firstHeading" lang="en"><%= "Peanut Butter" %></h1>
      <div id="bodyContent" class="mw-body-content">
        <div id="siteSub">From Wikipedia, the free encyclopedia</div>
        <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr">
          <p>
            Blahhhh blahhh blahhh blahhh blahhhh
          </p>
        </div>
        <div class="printfooter">
          Retrieved from "<a dir="ltr" href="http://en.wikipedia.org/w/index.php?title=Template:HTML&amp;oldid=640070450">http://en.wikipedia.org/w/index.php?title=Template:HTML&amp;oldid=640070450</a>"                    
        </div>
      </div>
    </div>
    <div id="mw-navigation">
    <h2>Navigation menu</h2>
    <div id="mw-head">
    <div id="p-personal" role="navigation" class="" aria-labelledby="p-personal-label">
      <h3 id="p-personal-label">Personal tools</h3>
    </div>
    <div id="left-navigation">
      <div id="p-namespaces" role="navigation" class="vectorTabs" aria-labelledby="p-namespaces-label">
        <h3 id="p-namespaces-label">Namespaces</h3>
      </div>
    </div>
    <div id="mw-panel">
      <div id="p-logo" role="banner"><a class="mw-wiki-logo" href="/wiki/Main_Page"  title="Visit the main page"></a></div>
      <div class="portal" role="navigation" id='p-navigation' aria-labelledby='p-navigation-label'>
        <h3 id='p-navigation-label'>Navigation</h3>
        <div class="body">
        </div>
      </div>
    </div>
    <div id="footer" role="contentinfo">
      <div style="clear:both"></div>
    </div>
  </body>
</html>