@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


#chat-alerts {
  width: 50%;
  position: fixed;
  top: 70px;
  left: 300px;
}

.center-div {
  position: fixed;
  top: 30%;
  width: 49%;
  left: 27%;
  color: #CCCCCC;
}

.random-button {
  position: fixed;
  background-color: #333333 !important;
  border-color: #333333 !important;
  top: 315px;
  left: 44%;
}

#center-div-header {
  position: fixed;
  top: 115px;
}

#center-div-body {
  position: fixed;
  width: 55%;
  top: 215px;
  left: 286px;
}

.fixed-header-div {
	position: fixed;
  width: 800px;
  left: 250px;
  height: 50px;
  top: 50px;
}

#users-online-list {
  background-color: #CCCCCC;
  position: fixed;
  width: 160px;
  left: 80%;
  height: 300px;
  top: 130px;
  padding: 15px;
  border-radius: 5px;
}

#users-online-list-border {
	position: relative;
  background-color: #777777;
  left: 550px;
  width: 180px;
  height: 300px;
  border-radius: 5px;
}

#list-of-users-online {
  position: relative;
  top: 10px;
  max-height: 200px;
  overflow-y: scroll;
}

#add-user-text {
  position: relative;
  left: 19px;
  top: -20px;
}

#add-user-in-member-box {
  position: relative;
  width: 180px;
  left: -2px;
  top: 185px;
  color: #000000;
  text-decoration: none;
  word-spacing: -10px;
  font-size: small;
}

#add-user-in-member-box:hover {
  color: #777777;
}

.user-in-list {
  font-size:smaller;
  position: relative;
  top: 10px;
  color: #000000;
}

#user-name-in-list {
  color: #000000;
  position: relative;
  font-size: small;
  top: -10px;
  left: -15px;

}

#user-in-list-li {
  position: relative;
  left: -20px;
  width: 120px;
}


#members-online {
	text-decoration: none !important;
	color: #000000;
  position: relative;
  font-size: larger;
}

#members-online:hover {
	text-decoration: none !important;
	color: #000000;
}

#members-online:visited {
	text-decoration: none !important;
	color: #000000;
}


.circle-jerk {
  height:12px;
  position: relative;
  top: -11px;
  left: -18px;
}

.chat-div-header {
  background-color: #CCCCCC;
  position: fixed;
  top: 50px !important;
  height: 50px !important;
  width: 200%;
  left: -47%;
}

#group-name-in-chat-header{
	position: absolute;
  left: 8%;
  top: 10px;
  font-size: large;
  color: #000000;
  text-decoration: none !important;
}

#go-to-room-in-chat-header {
	position: absolute;
  left: 62%;
  font-size: smal;
  top: 16px;
  text-decoration: none !important;
  height: 20px !important;
  color: #000000;
}


#go-to-room-in-chat-header:hover {
	color: #777777;
}

#leave-group-chat-header {
	position: absolute;
  left: 80%;
  top: 16px;
  font-size: small;
  text-decoration: none !important;
  height: 20px !important;
	color: #000000;
}

#leave-group-chat-header:hover {
	color: #777777;
}

#leave-group-text {
	position: relative;
  top: -20px;
  left: 20px;
  word-spacing: -12px;
}

#go-to-room-text {
	position: relative;
  top: -22px;
  left: 20px;
  word-spacing: -12px;
}

#group-image {
	position: absolute;
  left: 3%;
  height: 30%;
  top: 15px;
}

.glyphicon-align-justify:hover {
    color: $gray-lighter;
    background: none;
}

.edit_relationship:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

.glyphicon-remove:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-plus:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-facetime-video:hover {
    color: $gray-lighter;
    background: none;
}

.menu-group:hover {
    text-decoration: none;
    color: $gray-lighter;
}

#create-group-button:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

#delete-group {
	position: relative;
  width: 40px;
  left: 0px;
  top: 14px;
}

.group-name {
	position: relative;
  margin: 0px;
  top: -13px;
  left: 10px;
  width: 140px;
}

#add-user {
	position: relative;
  top: -41px;
  left: 160px;
  width: 40px;
}

#go-to-room {
	position: relative;
  top: -55px;
  left: 195px;
  width: 40px;
}

#group-row {
	height: 40px;
}

#first-group-row {
	height: 50px;
}

.edit_relationship {
	height: 40px;
}

.sidebar-title {
	position: relative !important;
}

.create-group-list {
	position: relative !important;
	top: 65px;
}


#create-group-list {
	top: 75px;
}

.group-sidebar-list {
	position: relative !important;
	overflow-y: scroll;
	max-height: 300px;
}

#group-sidebar-list {
	top: 60px;
}
