@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.btn.btn-primary {
  border-color: #333333;
  background-color: #333333;
  color: #CCCCCC;
}

.group-header-list-elem {
  list-style-type: none;
}

.btn.btn-primary:hover {
  border-color: #333333;
  background-color: #333333;
  color: #FFFFFF;
}

#sidebar-temp-room-list-item:hover {
  background-color: #333333 !important;
}

.continue-button {
  position: relative;
  left: 244px;
}

#chat-alerts {
  text-align: center;
  width: 626px;
  position: fixed;
  top: 70px;
  left: 302px;
}

.center-div {
  position: fixed;
  top: 30%;
  width: 49%;
  left: 27%;
  color: #CCCCCC;
}


.ul-group-head {
  position: relative;
  left: 450px;
  width: 421px;
  margin: 0 !important;
  height: 50px;
  padding: 0px;
}

#room-list-head {
  position: relative;
  height: 50px;
  width: 132px;
  top: -50px;
  left: 151px;
}

#room-list-head:hover {
  a {
    color: #777777 !important;
  }
  background-color: #dddddd;
}

#leave-list-head:hover {
  a {
    color: #777777 !important;
  }
  background-color: #dddddd;
}

#leave-list-head {
  position: relative;
  height: 50px;
  width: 116px;
  top: -100px;
  left: 284px;
}

#add-user-list-head {
  position: relative;
  height: 50px;
  width: 151px;
  top: 0px;
  left: 0px;
}

#add-user-list-head:hover {
  a {
    color: #777777 !important;
  }
  background-color: #dddddd;
}


.random-button {
  position: fixed;
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #CCCCCC !important;
  top: 300px;
  left: 532px;
}

.btn.btn-primary:focus {
  border: 0px;
  border-width: 0px;
  outline: 0px;
}

.random-button:hover {
  color: #FFFFFF !important;
}

#center-div-header {
  position: fixed;
  letter-spacing: normal !important;
  top: 115px;
  width: 633px;
  left: 301px;
}

#center-div-body {
  position: fixed;
  width: 633px;
  top: 215px;
  left: 301px;
}

.fixed-header-div {
	position: fixed;
  width: 800px;
  left: 250px;
  height: 50px;
  top: 50px;
}

#users-online-list {
  box-shadow: 0px 0px 20px #222222;
  background-color: #CCCCCC;
  position: fixed;
  width: 160px;
  left: 80%;
  height: 300px;
  top: 130px;
  padding: 15px;
  border-radius: 5px;
}

#users-online-list-border {
	position: relative;
  background-color: #777777;
  left: 550px;
  width: 180px;
  height: 300px;
  border-radius: 5px;
}

#list-of-users-online {
  position: relative;
  top: 10px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#add-user-text {
  position: relative;
  left: 19px;
  top: -20px;
}

.chat-pic {
  width: 100%;
}

#add-user-in-member-box {
  position: absolute;
  width: 180px;
  left: 10px;
  top: 17px;
  height: 20px;
  color: #000000;
  text-decoration: none;
  word-spacing: -10px;
  font-size: small;
}

#add-user-in-member-box:hover {
  color: #777777;
}

.user-in-list {
  font-size:smaller;
  position: relative;
  top: 10px;
  color: #000000;
}

#user-name-in-list {
  color: #000000;
  position: relative;
  font-size: small;
  top: -10px;
  left: -15px;

}

#user-in-list-li {
  position: relative;
  left: -20px;
  width: 120px;
}


#sidebar-create-group-list-item {
  position: relative;
  height: 40px;
  top: 5px;
}

#create-group-button {
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
  width: 250px;
}

#sidebar-create-group {
  position: relative;
  width: 214px;
  top: -8px;
  left: 34px;
  letter-spacing: -.5px;
  word-spacing: -10px;
  font-size: 1.05em;
}

#create-group-button.glyphicon-plus:before {
  position: relative;
  left: 1px;
  top: 12px;
}


#sidebar-temp-room-list-item {
  position: relative;
  height: 40px;
  top: 5px;
}

#create-conference-room-button {
  height: 40px;
  position: relative;
  left: 0px;
  top: 0px;
}

#sidebar-temp-room-text{
  position: relative;
  width: 214px;
  top: -8px;
  left: 34px;
  letter-spacing: -.5px;
  word-spacing: -10px;
  font-size: 1.05em;
}

#create-conference-room-button.glyphicon-facetime-video:before {
  position: relative;
  top: 12px;
  left: 1px;
}


#members-online {
	text-decoration: none !important;
	color: #000000;
  position: relative;
  font-size: larger;
}

#members-online:hover {
	text-decoration: none !important;
	color: #000000;
}

#members-online:visited {
	text-decoration: none !important;
	color: #000000;
}


.circle-jerk {
  height:12px;
  position: relative;
  top: -11px;
  left: -18px;
}

.chat-div-header {
  background-color: #CCCCCC;
  position: fixed;
  top: 50px !important;
  height: 50px !important;
  width: 200%;
  left: -47%;
}

#group-name-in-chat-header{
	position: absolute;
  left: 9%;
  top: 8px;
  font-size: 25px;
  color: #000000;
  text-decoration: none !important;
}

#go-to-room-in-chat-header {
	position: absolute;
  width: 121px;
  left: 10px;
  font-size: small;
  top: 18px;
  text-decoration: none !important;
  height: 20px !important;
  color: #000000;
}


#go-to-room-in-chat-header:hover {
	color: #777777;
}

#leave-group-chat-header {
	position: absolute;
  left: 10px;
  top: 18px;
  font-size: small;
  text-decoration: none !important;
  height: 20px !important;
	color: #000000;
}

#leave-group-chat-header:hover {
	color: #777777;
}

#leave-group-text {
	position: relative;
  top: -21px;
  left: 20px;
  word-spacing: -12px;
}

.in-chatroom {
  color: #CCCCCC !important;
}

.in-chatroom:hover {
  color: #FFFFFF !important;
}

#go-to-room-text {
	position: relative;
  top: -21px;
  left: 20px;
  word-spacing: -12px;
}

#group-image {
	position: absolute;
  left: 3%;
  height: 39%;
  top: 15px;
}

.glyphicon-align-justify:hover {
    color: $gray-lighter;
    background: none;
}

.edit_relationship:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

.glyphicon-remove:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-plus:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-facetime-video:hover {
    color: $gray-lighter;
    background: none;
}

.menu-group:hover {
    text-decoration: none;
    color: $gray-lighter;
}

#create-group-button:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

#delete-group {
	position: relative;
  width: 40px;
  left: 0px;
  top: 14px;
}

.group-name {
	position: relative;
  margin: 0px;
  top: -13px;
  left: 10px;
  width: 140px;
}

#add-user {
	position: relative;
  top: -41px;
  left: 160px;
  width: 40px;
}

#go-to-room {
	position: relative;
  top: -55px;
  left: 195px;
  width: 40px;
}

#group-row {
	height: 40px;
}

#first-group-row {
	height: 50px;
}

.edit_relationship {
	height: 40px;
}

.sidebar-title {
	position: relative !important;
}

.create-group-list {
	position: relative !important;
	top: 50px;
}


#create-group-list {
	top: 50px;
}

.group-sidebar-list {
	position: relative !important;
	overflow-y: scroll;
	max-height: 300px;
}

.sidebar-item{
  top: 0px;
  left: 9px;
  width: 200px;
  cursor: pointer;
}

#group-sidebar-list {
	top: 60px;
}
