@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html {
	min-width: 1050px;
	overflow-x: scroll;
}

.fixed-header-div {
	position: fixed;
  width: 800px;
  left: 250px;
  height: 50px;
  top: 50px;
}

#users-online-list {
  background-color: #CCCCCC;
  padding: 0px;
  margin: 5%;
  width: 90%;
  height: 94%;
  top: 3%;
  border-radius: 5px;
}

#users-online-list-border {
	position: relative;
  background-color: #777777;
  left: 550px;
  width: 180px;
  height: 300px;
  border-radius: 5px;
}

#members-online {
	text-decoration: none !important;
	color: #000000;
}

#members-online:hover {
	text-decoration: none !important;
	color: #000000;
}

#members-online:visited {
	text-decoration: none !important;
	color: #000000;
}


.circle-jerk {
  height:12px;
}

.chat-div-header {
  background-color: #777777;
  position: relative;
  top: -70px;
  height: 50px;
  width: 200%;
  left: -47%;
}

#group-name-in-chat-header{
	position: relative;
  left: 5%;
  top: -4px;
  font-size: large;
  color: #000000;
  text-decoration: none !important;
}

#go-to-room-in-chat-header {
	position: relative;
  left: 35%;
  font-size: smal;
  top: 16px;
  text-decoration: none !important;
  height: 20px !important;
  color: #000000;
}


#go-to-room-in-chat-header:hover {
	color: #CCCCCC;
}

#leave-group-chat-header {
	position: relative;
  left: 39%;
  top: 14px;
  font-size: small;
  text-decoration: none !important;
  height: 20px !important;
	color: #000000;
}

#leave-group-chat-header:hover {
	color: #CCCCCC;
}

#leave-group-text {
	position: relative;
  top: -20px;
  left: 20px;
  word-spacing: -12px;
}

#go-to-room-text {
	position: relative;
  top: -22px;
  left: 20px;
  word-spacing: -12px;
}

#group-image {
	position: relative;
  left: 3%;
  height: 30%;
  top: -7px;
}

.glyphicon-align-justify:hover {
    color: $gray-lighter;
    background: none;
}

.edit_relationship:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

.glyphicon-remove:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-plus:hover {
    color: $gray-lighter;
    background: none;
}

.glyphicon-facetime-video:hover {
    color: $gray-lighter;
    background: none;
}

.menu-group:hover {
    text-decoration: none;
    color: $gray-lighter;
}

#create-group-button:hover {
    text-decoration: none;
    color: $gray-lighter;
    background: rgba(255,255,255,0.2);
}

#delete-group {
	position: relative;
  width: 40px;
  left: 0px;
  top: 14px;
}

.group-name {
	position: relative;
  margin: 0px;
  top: -13px;
  left: 10px;
  width: 140px;
}

#add-user {
	position: relative;
  top: -41px;
  left: 160px;
  width: 40px;
}

#go-to-room {
	position: relative;
  top: -55px;
  left: 195px;
  width: 40px;
}

#group-row {
	height: 40px;
}

#first-group-row {
	height: 50px;
}

.edit_relationship {
	height: 40px;
}

.sidebar-title {
	position: relative !important;
}

.create-group-list {
	position: relative !important;
	top: 65px;
}


#create-group-list {
	top: 75px;
}

.group-sidebar-list {
	position: relative !important;
	overflow-y: scroll;
	max-height: 300px;
}

#group-sidebar-list {
	top: 60px;
}
