@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

* {
  outline: none !important;
}


html {
  background-color: #555555;
  position:relative;
  top: -12px;
  z-index: -1;
}

.navbar-right {
  width: 500px;
  position: relative;
  left: 72px;
}

#chat-list-head {
  position: relative;
  left: 50px;
}


.header-list:hover {
  background-color: #333333 !important;
  a {
    color: #FFFFFF !important;
  }
}

.header-in-chatroom {
  background-color: #222222 !important;
}

.header-list {
  background-color: black;
  padding-left: 10px;
  padding-right: 10px;
  left: 175px !important;
}

#home-list-head {
  position: relative;
  left: 50px;
}

#out-home-list-head {
  position: relative;
  left: 250px;
}

#log-in-list-head {
  position: relative;
  left: 353px !important;
  height: 50px;
  width: 87px;
}

#sign_in {
  position: relative;
  top: 8px;
}

.log-in-button {
  color: #fff !important;
  background-color: #428bca !important;
  border-color: #357ebd !important;
}

#log-in-icon {
  position: relative;
  top: -17px;
  left: 1px;
  word-spacing: -10px;
  white-space: nowrap;
  padding: 0px;
  height: 23px;
}

#log-in-header-text {
  position: relative;
  top: -24px;
  left: 21px;
}

#help-list-head {
  position: relative;
  left: 50px;
}

#out-help-list-head {
  position: relative;
  left: 50px;
}

#log-out-list-head {
  position: relative;
  left: 50px;
}

#background-div{
  background-color: #777777;
}

div#room-background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #CCCCCC;
  top: -300px;
}

#chatroom-header-text {
  position: relative;
  top: -24px;
  left: 20px;
}

#log-out-header-text {
  position: relative;
  top: -24px;
  left: 20px;
}

#home-header-text {
  position: relative;
  top: -23px;
  left: 20px;
}

.home-page-color {
  color: #cccccc !important;
}

.home-page-head {
  background-color: #222222;
  color: #cccccc;
}

#out-home-header-text {
  position: relative;
  top: -24px;
  left: 20px;
}


#help-header-text {
  position: relative;
  top: -24px;
  left: 21px;
}

#help-header-text:hover {
  color: #FFFFFF;
}

#header-nav-bar {
  height: 50px !important;
}


#home-path-glyph {
  position: relative;
  left: 0px;
  top: 8px;
}

#out-home-path-glyph {
  position: relative;
  left: 0px;
  top: 8px;
}

#help-path-glyph {
  position: relative;
  left: 0px;
  top: 10px
}

#chat-path-glyph {
  position: relative;
  left: -2px;
  top: 8px;
}

#sign_out {
  position: relative;
  left: 0px;
  top: 10px;
}


#home-icon {
  position: relative;
  left: 0px;
  top: -18px;
  padding: 0;
  word-spacing: -10px;
  white-space: nowrap;
  width: 62px;
  height: 20px;
}

#out-home-icon {
  position: relative;
  left: 0px;
  top: -17px;
  padding: 0;
  word-spacing: -10px;
  white-space: nowrap;
  width: 62px;
  height: 20px;
}

#home-icon:hover {
  color: #FFFFFF;
}

#out-home-icon:hover {
  color: #FFFFFF;
}

#log-out-icon {
  position: relative;
  left: 0px;
  top: -17px;
  padding: 0px;
  word-spacing: -10px;
  white-space: nowrap;
  width: 73px;
  height: 20px;
}

#log-out-icon:hover {
  color: #FFFFFF;
}


#user-icon {
  position: relative;
  word-spacing: -10px;
  left: 1px;
  padding: 0px;
  top: -17px;
  white-space: nowrap;
  height: 20px;
  width: 100px;
}

#user-icon:hover {
  color: #FFFFFF;
}


#help-icon1 {
  position: relative;
  word-spacing: -10px;
  left: 1px;
  padding: 0px;
  top: -17px;
  white-space: nowrap;
  width: 53px;
  height: 20px;
}

#help-icon2 {
  position: relative;
  word-spacing: -10px;
  left: 1px;
  padding: 0px;
  top: -17px;
  white-space: nowrap;
  width: 53px;
  height: 20px;
}

#user-icon:hover {
  color: #FFFFFF;
}


.navbar-fixed-top.navbar-inverse{
  z-index: 1000;
  margin-bottom:0px;
  border:0px;
}

html{
  width:100%;
}
body{
  width:100%;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {

  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn.btn-primary {
  margin-top: 15px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  position: fixed;
  left: 137px;
  top: -4px;
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #CC1111;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: red;
    text-decoration: none;
  }
}
#red_logo {
  position: fixed;
  left: 64px;
  float: left;
  top: -4px;
  font-size: 2.0em;
  color: #DDDDDD;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

#marketing-row {
  padding-right: 15px;
  padding-top: 20px;
  padding-left: 15px;
  margin-top: 0px !important;
  background-color: #FFFFFF;
}

.marketing {
  margin-top: 0px !important;
}