

/*===Fonts===*/
@font-face {
  font-family: 'Roboto Slab';
  src: font-url('RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*===Images===*/
.cover_image {
  background: asset_url("smile_webcam.jpg") no-repeat fixed;
  width: 100%;
  height: 660px;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  box-sizing: content-box;
  position:relative;
  left:0;
  top:0;
  z-index: 1;
}
.contact_image {
  background: asset_url("contact.jpg") no-repeat fixed;
  width: 100%;
  height: 660px;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  box-sizing: content-box;
  position:relative;
  left:0;
  top:0;
}

.chat-home-page-head {
  left: 20px !important;
}

.home-home-page-head {
  left: 35px !important;
}

.overlay{
    opacity: .37;
    background-color: black;
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
}

.messages {
    position:absolute;
    top: 20%;
    left: 50%;
    text-align:center;

    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.centered_title {
  font-family: 'Roboto Slab', serif;
    position:absolute;
    top: 45%;
    left: 50%;
    font-size: 6vw;
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.centered_subtitle {
  font-family: 'Roboto Slab', serif;
    position:absolute;
    top: 69%;
    left: 50%;
    font-size: 4vw;
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/*===Marketing section===*/
.marketing {
  padding-right: 15px;
  margin-top:20px;
  padding-left: 15px;

}

.marketing .col-md-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
