

.cover_image {

  background: url(smile.jpg)  no-repeat fixed;
  width: 100%;
  height: 650px;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100%;
  min-width: 100%;
  box-sizing: content-box;
  position:relative;
  left:0;
  top:0;

}
.overlay{
    opacity: .37;
    background-color: black;
    position: absolute;
    left: 0; top: 0; 
    height: 100%; 
    width: 100%;
}
.centered_text {
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 5em;
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}