// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.room-layout-table {
  position: fixed;
  left:160px;
  right:300px;
	width: auto;
  height:100%;
}

.render-spot {
  position: fixed;
  top: 70px;
  z-index: 50;
}

.below-sidebar {
  position: absolute;
  top: 650px;
  width: 160px;
  height: 100%;
  background-color: #CCCCCC;
}

.wolfram-load {
  position: relative;
  left: 268px;
  top: 135px;
  transform: scale(3.0);
}

.calendar-frame {
  position: relative;
  transform: scale(0.78);
  top: -120px;
  left: -85px;
}

.wolfram-frame {
/*  position: relative;
  transform: scale(0.78);
  top: -120px;
  left: -85px;*/
  border-width: 0;
  width: 609px;
  max-height: 470px;
  position: relative;
  top: 11px;
  left: -3px;
}

.calendar-border {
  box-shadow: 0px 0px 10px #777777;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  height: 510px;
  width: 650px;
  left: 190px;
  padding: 10px;
  background-color: white;
}

.wolfram-border {
  box-shadow: 0px 0px 10px #777777;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  height: 510px;
  width: 650px;
  left: 190px;
  padding: 10px;
  padding-bottom: 10px;
  background-color: white;
}

.wolfram-remove {
  position: relative;
  top: -460px !important;
  color: black;
  z-index: 20;
  left: 620px !important;
}


.wolfram-min-width {
  min-width: 300px !important;
}

div.calendar-frame body{
  transform: scale(.95);
}

div.wolfram-frame body{
  transform: scale(.95);
}


#benny-temp-message {
  position: relative;
  height: 72px;
  width: 212px;
  color: black;
  text-decoration: none;
  left: 1px;
  top: -3px;
  font-size: 14px;
}

#benny-help-temp {
  margin: 5px;
  background-color: #CCCCCC;
  height: 78px !important;
  width: 267px !important;
  /* margin-top: 2px; */
  font-size: 15px;
  border: 0px;
  word-wrap: break-word;
  line-height: 16px;
  padding-right: 17px;
  width: 96%;
  padding: 10px;
  color: #CCCCCC;
  overflow: hidden;
}

#help-in-query {
  position: relative;
  left: 1px;
  top: -3px;
  font-size: 14px;
}


#lightning-favicon {
  width: 27px;
  height: 27px;
  float: left !important;
  position: relative;
  top: 3px;
  left: 4px;
  margin-right: 16px;
  margin-bottom: 5px;
}

#remove_item_id {
  position: relative;
  top: -56px;
  color: black;
  z-index: 20;
  left: 617px;
}

#remove_item_id:hover {
  text-decoration: none;
  color: #777777;
}

.calendar-title{
  position: relative;
  z-index: 10;
  letter-spacing: -.5px !important;
  font-size: 22px;
  width: 643px;
  left: -10px;
  top: -12px;
  text-align: center;
}

.blink_me {
  position: fixed;
  left: 330px;
  top: 200px;
  z-index: 20;
}

.fade_me {
  position: fixed;
  left: 223px;
  top: 200px;
  width: 47%;
}

.active-spot{

  width: 500px;
  height:500px;
  border: 2px dashed black;
}

#benedict-query-header {
  background-color: #333333;
  color: #CCCCCC;
  border-radius: 3px;
  width: 278px;
  height: 31px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.benedict-query-header-text{
  color: #CCCCCC;
  text-decoration: none !important;
  position: absolute;
  left: 97px;
}

.notification-number {
  position: relative;
  float: right;
  top: 0px;
  left: -1px;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  color: white;
  background-color: red;
}

.name-and-summary-wolfram {
  position: relative;
  color: black;
  font-size: 12px;
  left: 128px;
  top: 30px;
  text-decoration: none;
}

.benedict-query-header-text:hover {
  color: #CCCCCC;
  text-decoration: none !important;
}

.benedict-query-header-text:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}

.chat-header{
  color: #CCCCCC;
  text-decoration: none !important;
  position: absolute;
  left: 134px;
}

.chat-header:hover {
  color: #CCCCCC;
  text-decoration: none !important;
}

.chat-header:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}


.video-sidebar {
  overflow-y: scroll;
  max-height: 500px;
}

.small-vids {
  background-color: #CCCCCC;
}

.dropped{
  background-color: black;
  width: 500px;
  height:500px;
}
#drop-spot{
  position: fixed;
  width: 660px;
  height: 100%;
  top: 25px;
  left: 200px;
  background-color: #CCCCCC;
}

.color-div {
  background-color: #CCCCCC;
  position: fixed;
  height: 200px;
  width: 200px;
  top: -142px;
}

.color-div2 {
  position: fixed;
  height: 12px;
  width: 40px;
  top: 58px;
  left: 160px;
  background-color: #CCCCCC;
}

#page-wrapper{
   margin-top: 50px;
}

/*Chat stuff */

#js-input-im {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
  color: #4D4D4D;
  height: 25px !important;
  width: 278px !important;
  border-radius: 3px;
  left: 1px;
}

#js-send-button-im {
  width: 0px !important;
  height: 0px !important;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#chat-location{
  //padding-bottom: 20px;
}

#chat-send-button{
  color: #CCCCCC;
  text-decoration: none !important;
}

#chat-send-button:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

#chat-send-button:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}

#benny-input-text {
  margin-top: 4px;
  left: 0px;
  background-color: #CCCCCC;
  border-color: #CCCCCC;
  color: #4D4D4D;
  height: 25px !important;
  width: 278px !important;
  border-radius: 3px;
}

.pull-left {
  padding-left: 5px;
  margin-right: -5px;
  padding-bottom: 5px;
}

#js-chat-body.panel-body{
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.room-layout-table {
  background-color: #CCCCCC;
}


#chat-body > div.panel.panel-primary > div.panel-heading{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#chat-body {
  padding-top: 55px;
  width: 100%;
}

#chatty{
  margin-top: 5px;
}

.panel.panel-primary{
  margin-bottom: 5px;
}

.media-object{
  width: 75%;
  height: 75%;
}

#minimize-chat-down{
  text-decoration: none !important;
  color: #CCCCCC;
  position: relative;
  left: 0px;
  top: 4px;
}

#minimize-chat-right{
  text-decoration: none !important;
  display: none;
  color: #CCCCCC;
  position: relative;
  left: 0px;
  top: 4px;
}

#minimize-mic-down{
  text-decoration: none !important;
  color: #CCCCCC;
  position: relative;
  left: -124px;
  top: -2px;
}

.mic-header-text {
  color: #CCCCCC;
  text-decoration: none !important;
  position: relative !important;
  left: 68px;
  top: -4px;
}

#stop-query-button {
  background-color: #777777 !important;
  border-color: black;
  box-shadow: 0px 0px 10px #333333;
  position: relative;
  left: 119px !important;
  top: -7px !important;
  border-color: #333333;
  border-width: 1px;
  display: none;
}

.mic-header-text:hover {
  color: #CCCCCC;
}

#minimize-mic-right{
  text-decoration: none !important;
  display: none;
  color: #CCCCCC;
  position: relative;
  left: -124px;
  top: -2px;
}

#minimize-chat-down:hover{
  text-decoration: none !important;
  color: #FFFFFF
}

#minimize-chat-right:hover{
  text-decoration: none !important;
  color: #FFFFFF
}


#minimize-mic-down:hover{
  text-decoration: none !important;
  color: #FFFFFF
}

#minimize-mic-right:hover{
  text-decoration: none !important;
  color: #FFFFFF
}

#minimize-query-down{
  text-decoration: none !important;
  position: relative;
  left: 0px;
  top: 4px;
  color: #CCCCCC;
}

#minimize-query-right{
  display: none;
  text-decoration: none !important;
  position: relative;
  left: 0px;
  top: 4px;
  color: #CCCCCC;
}

#minimize-query-down:hover{
  text-decoration: none !important;
  color: #FFFFFF;
}

#minimize-query-right:hover{
  text-decoration: none !important;
  color: #FFFFFF;
}


#chat-heading {
  height: 31px;
}

.glyphicon-chevron-right {
  display: none;
}

#chat-body > div.panel.panel-primary > div.panel-heading{
  background-color: $gray-dark;
  border-color: $gray-dark;
  color: #CCCCCC;
}

#chat-body > div.panel.panel-primary > div.panel-heading:hover{
  color: #FFFFFF;
}

#js-send-button-im{
  background-color: $gray-dark;
  border-color: $gray-dark;
}

#chat-body > div.panel.panel-primary{
  border-color: $gray-dark;
}

/* Benedict List*/

#benedict-list{
  width: 278px;
}

.benny-list-body {
  width: 278px;
  overflow-y: auto;
  max-height: 200px;
  position: relative;
  top: -9px;
  background: #CCCCCC;
  color: #CCCCCC;
}

.benny-list-body-func {
  padding-top: 2px;
}

.record-button {
transform: scale(.05);
  position: absolute;
  left: -261px;
  top: -295px;
  display: none;
}

#microphone-spot {
  height: 50px;
  position: relative;
  width: 278px;
  top: 0px;
  background-color: #CCCCCC !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#mic-header {
  background-color: #333333;
  border-radius: 3px;
  margin-top: 10px;
  width: 278px;
  height: 31px;
}

#progressbar {
  border-width: 3px;
  border-color: #333333;
  border-style: groove;
}


.ui-progressbar {
    position: relative;
    display: none;
    margin-left: 10px;
    margin-right: 10px;
    top: 19%;
}

.ui-progressbar-value {
  margin-top: 0px !important;
}

.progress-label {
  position: absolute;
  display: none;
  left: 34%;
  top: 2px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

#mic-glyph {
  transform: scale(0.033) !important;
  position: relative;
  top: -381px;
  left: -179px;
  background-color: #777777;
}

#mic-glyph:hover {
  text-decoration: none !important;
}

.svg-box {
  background-color: #777777;
  width: 32.5px;
  height: 33px;
  left: 42.5px;
  top: 9px;
  position: absolute !important;
  border-radius: 500px;
}

#record-query-button {
  background-color: #777777 !important;
  border-color: black;
  box-shadow: 0px 0px 10px #333333;
  position: relative;
  left: 119px !important;
  top: -7px !important;
  border-color: #333333;
  border-width: 1px;
}

#record-query-button:active {
  background-color: #777777 !important;
  border-color: black;
  box-shadow: 0px 0px 10px #333333;
  position: relative;
  left: 119px !important;
  top: -7px !important;
  border-color: #333333;
  border-width: 1px;
}

#name-and-summary-wolfram:hover {
  text-decoration: none !important;
  color: black !important;
}

.benny-item{
  margin: 5px;
  box-shadow: 0px 0px 10px #777777;
  width: 96%;
  height: 60px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  background-color: #CCCCCC;
  border-radius: 7px;
  word-wrap: break-word;
  border-top: 0px;
}


.benny-query {

  width: 89%;
  position: relative;
  left: 10px;
  top: 6px;
  font-size: 14px;
}

.benny-query:hover {
  color: #FFFFFF;
}



.favicon{
  width: 11%;
  float: left;
  position: relative;
  top: 6px;
  left: 2px;
}

.name-and-summary-calendar {
  position: relative;
  line-height: 15px;
  top: 30px;
  width: 120px;
  word-wrap: break-word;
  padding-left: 0px;
  left: 128px;
  font-size: 12px;
  text-align: center;
  text-decoration: none !important;
  color: black;
}

.benny-no-result {
  line-height: 15px;
  font-size: 14px;
}


#warning-sign {
  top: 10px;
}

#benny-query-question-mark {
  float: left;
  left: 9px;
  top: 11px;
  transform: scale(2.0);
  color: #666666;

}

#benny-query-question-mark:hover {
  color: #DDDDDD !important;
}

#benny-query-question-mark:hover {
  text-decoration: none;
}


.no-result-benny-link {
  position: relative;
  float: right;
  width: 202px;
  font-size: 13px;
  top: -2px;
  left: 2px;
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.no-result-benny-link:hover {
  color: black;
  text-decoration: none !important;
}


#help-here {
  position: relative;
  left: 37px;
  top: 1px;
}

.name-and-summary-no-result {
  position: relative;
  float: right;
  left: -27px;
  top: -10px;
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.name-and-summary-no-result:hover {
  color: black;
  text-decoration: none !important;
}

.name-and-summary-calendar:hover {
  color: black;
}

.benny-link {
  position: relative;
  float: left;
  word-wrap: break-word;
  width: 198px;
  left: 15px;
  top: -13px;
  line-height: 14px;
  font-size: 14px;
  /* color: #CCCCCC; */
}


.chat-user-name {
  text-decoration: none !important;
}

.chat-user-name:hover {
  color: #428bca !important;;
  text-decoration: none !important;
}

.chat-user-name:visited {
    text-decoration: none !important;
    color: #428bca !important;
}

#prof-pic {
  top: 2px;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

#div-chat-message {
  margin-bottom: 5px;
}

#h4-chat-message {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
}

.ui-draggable-dragging {
  z-index: 2000;
}

.media-heading {
  font-size: small;
  padding-top: 10px;
}

/* Video sidebar */
#video-sidebar{
  width:160px;
}
#video-spot-1{
  width:100%;
  height:120px;

  float: left;
}
#video-spot-2{
  width:100%;
  height:120px;

  float: left;

}
#video-spot-3{
  width:100%;
  height:120px;
  float: left;

}
#video-spot-4{
  width:100%;
  height:120px;
  float: left;
}
#video-spot-5{
  width:100%;
  height:120px;
  float: left;
}
.active-video-spot{
  z-index: 22;
  border: 2px dashed black;
}

#localVideo{
  width: 100%;
  height:100%;
  margin: 0;
  cursor:move;
}


#tutorial-explanation{
  padding-left: 10%;
  padding-right: 10%;
}
.benedict_examples{
  width:100%;

}

#benny {
	padding-bottom: 4%;
}

#header-nav-bar {
	background: #000;
}

#js-chat-body {
  max-height: 100px;
  overflow: auto;
  word-wrap: break-word;
}


#speech-rec-body {
  max-height: 300px;
  overflow: auto;
  word-wrap: break-word;
}

#speech-rec {
    width: 150%;
    margin-right: 50%;
}


/* Benedict Sidebar */


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#benedict-sidebar-wrapper {
    z-index: 1;
    position: fixed;
    right: 250px;
    width: 300px;
    height: 100%;
    margin-right: -250px;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    top: 55px;
}

#wrapper.toggled #benedict-sidebar-wrapper {
    width: 250px;
    z-index: 1;
}

.glyphicon-chevron-down {
  text-decoration: none !important;
}

.glyphicon-chevron-down:hover {
  text-decoration: none !important;
}

.glyphicon-chevron-down:visited {
  text-decoration: none !important;
}


.benedict-sidebar-nav {
    position: absolute;
    top: 45px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benedict-sidebar-nav  li {
    text-indent: 20px;
    line-height: 40px;
}

.benedict-sidebar-nav  li a {
    display: block;
    text-decoration: none;
    color: $gray-light;
}

.benedict-sidebar-nav  li a:active,
.benedict-sidebar-nav  li a:focus {
    text-decoration: none;
}

.benedict-sidebar-nav  > .benedict-sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.benedict-sidebar-nav  > .benedict-sidebar-brand a {
    color: $gray-light;
}

/* Google Search */
#searchcontrol > div{
  width: 100%;
  height:100%;
  overflow-y: hidden;
}



div.gsc-webResult.gsc-result{
  height: 80px;
  font-size: 13px;
}

#searchcontrol > div > div > div.gsc-tabsArea{
  margin: 0;
}
.gsc-result-info{
  margin: 0;
}

div.gsc-newsResult.gsc-result{
  height: 85px;
  font-size: 13px;
}

div.gsc-videoResult.gsc-result{
  height:80px;
}

div.gs-clusterUrl{
  visibility: hidden;
}

#searchcontrol{
  margin-top: -30px;
}