// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.room-layout-table {
  position: fixed;
  left:160px;
  right:300px;
	width: auto;
  height:100%;
}

.render-spot {
  position: fixed;
  top: 70px;
  z-index: 50;
}

.below-sidebar {
  position: absolute;
  top: 650px;
  width: 160px;
  height: 100%;
  background-color: #CCCCCC;
}

.calendar-frame {
  position: relative;
  transform: scale(0.78);
  top: -63px;
  left: -82px;
}

.calendar-border {
  box-shadow: 0px 0px 10px #777777;
  border-radius: 4px;
  position: fixed;
  top: 100px;
  height: 500px;
  width: 661px;
  left: 190px;
  padding: 10px;
  background-color: white;
}

div.calendar-frame body{
  transform: scale(.95);
}

.calendar-title{
  position: relative;
  font-size: 25px;
  width: 661px;
  left: 30px;
  top: -27px;
  text-align: center;
}

.blink_me {
  position: fixed;
  left: 330px;
  top: 200px;
  z-index: 20;
}

.fade_me {
  position: fixed;
  left: 223px;
  top: 200px;
  width: 47%;
}

.active-spot{

  width: 500px;
  height:500px;
  border: 2px dashed black;
}

#benedict-query-header {
  background-color: #333333;
  color: #CCCCCC;
  border-radius: 3px;
  width: 278px;
  height: 31px;
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.benedict-query-header-text{
  color: #CCCCCC;
  text-decoration: none !important;
  position: absolute;
  left: 155px;
}

.benedict-query-header-text:hover {
  color: #CCCCCC;
  text-decoration: none !important;
}

.benedict-query-header-text:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}

.chat-header{
  color: #CCCCCC;
  text-decoration: none !important;
  position: absolute;
  left: 234px;
}

.chat-header:hover {
  color: #CCCCCC;
  text-decoration: none !important;
}

.chat-header:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}


.video-sidebar {
  overflow-y: scroll;
  max-height: 500px;
}

.small-vids {
  background-color: #CCCCCC;
}

.dropped{
  background-color: black;
  width: 500px;
  height:500px;
}
#drop-spot{
  position: fixed;
  width: 660px;
  height: 100%;
  top: 25px;
  left: 200px;
  background-color: #CCCCCC;
}

.color-div {
  background-color: #CCCCCC;
  position: fixed;
  height: 200px;
  width: 200px;
  top: -142px;
}

.color-div2 {
  position: fixed;
  height: 12px;
  width: 40px;
  top: 58px;
  left: 160px;
  background-color: #CCCCCC;
}

#page-wrapper{
   margin-top: 50px;
}

/*Chat stuff */

#js-input-im {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
  color: #4D4D4D;
  height: 25px !important;
  width: 278px !important;
  border-radius: 3px;
  left: 1px;
}

#js-send-button-im {
  width: 0px !important;
  height: 0px !important;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#chat-location{
  //padding-bottom: 20px;
}

#chat-send-button{
  color: #CCCCCC;
  text-decoration: none !important;
}

#chat-send-button:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

#chat-send-button:visited {
  color: #CCCCCC;
  text-decoration: none !important;
}



.pull-left {
  padding-left: 5px;
  margin-right: -5px;
  padding-bottom: 5px;
}

#js-chat-body.panel-body{
  padding-left: 0;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.room-layout-table {
  background-color: #CCCCCC;
}


#chat-body > div.panel.panel-primary > div.panel-heading{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#chat-body {
  padding-top: 55px;
  width: 100%;
}

#chatty{
  margin-top: 5px;
}

.panel.panel-primary{
  margin-bottom: 5px;
}

.media-object{
  width: 75%;
  height: 75%;
}

#minimize-chat-down{
  text-decoration: none !important;
  color: #CCCCCC;
  position: relative;
  left: 0px;
  top: 4px;
}

#minimize-chat-right{
  text-decoration: none !important;
  display: none;
  color: #CCCCCC;
  position: relative;
  left: 0px;
  top: 4px;
}

#minimize-chat-down:hover{
  text-decoration: none !important;
  color: #FFFFFF
}

#minimize-chat-right:hover{
  text-decoration: none !important;
  color: #FFFFFF
}


#minimize-query-down{
  text-decoration: none !important;
  position: relative;
  left: 0px;
  top: 4px;
  color: #CCCCCC;
}

#minimize-query-right{
  display: none;
  text-decoration: none !important;
  position: relative;
  left: 0px;
  top: 4px;
  color: #CCCCCC;
}

#minimize-query-down:hover{
  text-decoration: none !important;
  color: #FFFFFF;
}

#minimize-query-right:hover{
  text-decoration: none !important;
  color: #FFFFFF;
}


#chat-heading {
  height: 31px;
}

.glyphicon-chevron-right {
  display: none;
}

#chat-body > div.panel.panel-primary > div.panel-heading{
  background-color: $gray-dark;
  border-color: $gray-dark;
  color: #CCCCCC;
}

#chat-body > div.panel.panel-primary > div.panel-heading:hover{
  color: #FFFFFF;
}

#js-send-button-im{
  background-color: $gray-dark;
  border-color: $gray-dark;
}

#chat-body > div.panel.panel-primary{
  border-color: $gray-dark;
}

/* Benedict List*/

#benedict-list{
  width: 278px;
}

.benny-list-body {
  width: 278px;
  overflow-y: scroll;
  max-height: 200px;
  position: relative;
  top: -9px;
  background: #CCCCCC;
  color: #CCCCCC;
}

.benny-list-body-func {
  padding-top: 2px;
}

.benny-item{
  width: 100%;
  height: 60px;
  padding: 10px;
  color: #CCCCCC;
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  background-color: #333333;
  border-radius: 7px;
  word-wrap: break-word;
  border-top: 0px;
}


.benny-query {
  float: right;
  width: 89%;
  position: relative;
  left: 10px;
  top: 6px;
  font-size: 14px;
}

.benny-query:hover {
  color: #FFFFFF;
}



.favicon{
  width: 11%;
  float: left;
  position: relative;
  top: 15px;
  left: -2px;
}

.name-and-summary {
  position: relative;
  line-height: 15px;
  top: -2px;
  width: 200px;
  word-wrap: break-word;
  float: left;
  left: 0px;
  font-size: 14px;
  text-align: center;
  text-decoration: none !important;
  color: #CCCCCC;
}

.name-and-summary:hover {
  color: #FFFFFF;
}

.benny-link {
  position: relative;
  float: left;
  word-wrap: break-word;
  width: 214px;
  left: 11px;
  top: 1px;
  line-height: 14px;
  font-size: 12px;
  color: #CCCCCC;
}

.benny-link:hover {
  color: #FFFFFF;
}

.chat-user-name {
  text-decoration: none !important;
}

.chat-user-name:hover {
  color: #428bca !important;;
  text-decoration: none !important;
}

.chat-user-name:visited {
    text-decoration: none !important;
    color: #428bca !important;
}

#prof-pic {
  top: 2px;
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

#div-chat-message {
  margin-bottom: 5px;
}

#h4-chat-message {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
}

.ui-draggable-dragging {
  z-index: 2000;
}

.media-heading {
  font-size: small;
  padding-top: 10px;
}

/* Video sidebar */
#video-sidebar{
  width:160px;
}
#video-spot-1{
  width:100%;
  height:120px;

  float: left;
}
#video-spot-2{
  width:100%;
  height:120px;

  float: left;

}
#video-spot-3{
  width:100%;
  height:120px;
  float: left;

}
#video-spot-4{
  width:100%;
  height:120px;
  float: left;
}
#video-spot-5{
  width:100%;
  height:120px;
  float: left;
}
.active-video-spot{
  z-index: 22;
  border: 2px dashed black;
}

#localVideo{
  width: 100%;
  height:100%;
  margin: 0;
  cursor:move;
}

#benny {
	padding-bottom: 4%;
}

#header-nav-bar {
	background: #000;
}

#js-chat-body {
  max-height: 100px;
  overflow: auto;
  word-wrap: break-word;
}


#speech-rec-body {
  max-height: 300px;
  overflow: auto;
  word-wrap: break-word;
}

#speech-rec {
    width: 150%;
    margin-right: 50%;
}


/* Benedict Sidebar */


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#benedict-sidebar-wrapper {
    z-index: 1;
    position: fixed;
    right: 250px;
    width: 300px;
    height: 100%;
    margin-right: -250px;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: -50px;
    padding-right: 10px;
    padding-left: 10px;
    top: 55px;
}

#wrapper.toggled #benedict-sidebar-wrapper {
    width: 250px;
    z-index: 1;
}

.glyphicon-chevron-down {
  text-decoration: none !important;
}

.glyphicon-chevron-down:hover {
  text-decoration: none !important;
}

.glyphicon-chevron-down:visited {
  text-decoration: none !important;
}


.benedict-sidebar-nav {
    position: absolute;
    top: 45px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.benedict-sidebar-nav  li {
    text-indent: 20px;
    line-height: 40px;
}

.benedict-sidebar-nav  li a {
    display: block;
    text-decoration: none;
    color: $gray-light;
}

.benedict-sidebar-nav  li a:active,
.benedict-sidebar-nav  li a:focus {
    text-decoration: none;
}

.benedict-sidebar-nav  > .benedict-sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.benedict-sidebar-nav  > .benedict-sidebar-brand a {
    color: $gray-light;
}